<!DOCTYPE html>
<html>
<head>
    <title>Wheather Prediction App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Wheather in {{ city }}</h1>
        <p><strong>address:</strong> {{ address }}</p>
        <p><strong>windspeed:</strong> {{ windspeed }}</p>
        <p><strong>description:</strong> {{ description }}</p>
        <p><strong>temp:</strong> {{ temp }}</p>
        <p><strong>datetime:</strong> {{ datetime }}</p>
        <p><strong>resolvedAddress:</strong> {{ resolvedAddress }}</p>
        <p><strong>humidity:</strong> {{ humidity }}</p>
    
    </div>
</body>
</html>
